@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

:root  {
    --primary-color: rgb(186, 195, 197);
    --primary-color-darker: rgb(88, 93, 94);
}

* {
    box-sizing: border-box;
    outline: 0;
}

h1 {
    color: var(--primary-color-darker);
}

body {
    margin: auto;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Stack Sans Notch', sans-serif;
    line-height: 1.5em;
    
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    justify-items: center;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: none;
    color: fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

#relogio {
  font-size: 2.2rem;
}

.calculadora {
    width: 400px;
    display: flex;
}

.display  {
   font-size: 2em;
   width: 100%;
   height: 40px;
}

.btn {
    width: 24.37%;
    height: 40px;
    font-size: 1em;
    display: inline-block;
    border: none;
    color: var(--primary-color-darker);
    cursor: pointer;
    border-radius: 3px;
}

.btn:active {
    background-color: var(--primary-color-darker);
    color: var(--primary-color);
    transition: 0.1s;
}